body { margin:0;
}

main {
    padding-top:3em;
}

nav ul li {
   list-style-type: none;
   color:white;
   padding-left: 5px; 
   padding-right: 5px;
   padding-bottom: 5px;
   margin-bottom: 0px;
   display:block;
   line-height: 30px;
   text-align: center;
   transition: 1s;
   -webkit-transition: 1s;
}

nav ul li:hover{
   background-color:rgb(0, 144, 53);
   transition: 1s;
   -webkit-transition: 1s;
}

header nav {
   background-color:#252525;
   background-repeat: repeat-y;
   height: 100%;
   position: absolute;
   z-index: 1;
   overflow-x: hidden;
   overflow-y: hidden;
   width: 0em;
   transition: 1s;
   -webkit-transition: 1s;
}

header nav a {
   color:white;
   text-decoration: none;
   display: block;
   font-weight: bolder;
}
header nav a:hover {
   color:white;
}

header nav img {
   max-width: 12em;
}


header nav i {
   margin:1rem; 
   display:block;
   clear: both;
}

.menu img {
   display:block; 
   margin:0 auto;
   padding-bottom:2em;
}
.menu-button { 
   background-color:#252525;
   width:125px;
}

.menu-button i {
   color:white;
   background-color:#252525;
   padding-top: .25em;
   padding-bottom: .25em;
   position: inherit;
   text-align: center;
   width:120px;
   transition: 1s;
   -webkit-transition: 1s;
}
.menu-button i:hover {
   background-color: #33C3F0;
   transition: 1s;
   -webkit-transition: 1s;
}

.buttonContainer {
   background-color: #252525;
   display: block;
   height: 100%;
}

.logout-button{
   background-color:#252525; 
}

.logout-button i{
   color:white; 
   background-color:#c80000; 
   padding: .25em; 
   position: inherit; 
   float: right; 
   transition: 1s;
   -webkit-transition: 1s;
}

.logout-button i:hover{
   background-color:#8b0000;
   transition: 1s;
   -webkit-transition: 1s;
}